/* include your css here */

#title {
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Merriweather", sans-serif;
  font-size: 25px;
}

#names {
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.content {
  display: block;
  text-align: left;
  margin: auto;
  font-family: "Merriweather", sans-serif;
  font-size: 15px;
}

#reflection h1 {
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
}