/*index specific*/

body {
  background-color: black;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#menu-bar a:link {
  text-decoration: none;
  color: white;
}

#menu-bar a:visited {
  text-decoration: none;
  color: white;
}

#menu-bar {
  background-color: black;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: -1em;
}

#menu-bar a p {
  display: inline;
  font-family: Verdana, sans-serif;
  font-size: 1em;
  margin-left: 15%;
}

#content {
  background-image: url("../blog-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 675px;
}

#name-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 12em;
  top: 30%;
  background-color: black;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

#name-box h1 {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#name-box a p {
  display: inline;
  font-family: Verdana, sans-serif;
  font-size: 1em;
  margin-left: 15%;
  position: relative;
  top: 2em;
}

#footer {
  background-color: black;
  width: 100%;
  height: 4em;
}

/*blog-index specific*/

#blog-index-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  height: 32em;
  top: 10%;
  background-color: black;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

#blog-index-box h1 {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#blog-index-box h2 {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
}

#blog-index-box p {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: left;
}

#blog-index-box h3 {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: .82em;
}

/*blog specific*/

#blog-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  height: 100%;
  top: 10%;
  background-color: black;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

#blog-box h1 {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#blog-box h2 {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
}

#blog-box p {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: left;
}

/*project specific*/

#projects-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 12em;
  top: 30%;
  background-color: black;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

#projects-box h1 {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#projects-box h2 {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: .85em;
  position: relative;
  top: 2em;
}

/*about specific*/

#about-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 26em;
  top: 18%;
  background-color: black;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

img.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#about-box h1 {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#about-box h2 {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: .85em;
  position: relative;
  top: 2em;
}